<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/sadman.jpeg"
        style="width:30vw;max-width:1500px;"
      >
    </p>
    <p class="text-faded">
      Argh! That page doesn't exist. If it should, contact development.<strong>(404)</strong>
    </p>
    <q-btn
      color="secondary"
      style="width:200px;"
      to="/"
      label="Go back"
    />
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
