<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
    <div class="row">
      <div class="column , q-px-xl">
            <q-chip size="20px">
                    <q-avatar size="100px">
                      <img src="../assets/development.png">
                    </q-avatar>
                    Development
                  </q-chip>
          
          <q-list padding class="q-pt-xl">
              <router-link 
              :to="{name: 'Categories'}">
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-book" />
              </q-item-section>
              <q-item-section>
                Documentation
              </q-item-section>
            </q-item>
              </router-link>
                            <router-link 
              :to="{name: 'Categories'}">
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-graduation-cap" />
              </q-item-section>

              <q-item-section>
                Learning
              </q-item-section>
            </q-item>
                            </router-link>

            <q-item>
              <q-circular-progress
                show-value
                class="text-white q-ma-md"
                :value="100"
                size="90px"
                :thickness="0.2"
                color="yellow-7"
                center-color="grey-6"
                track-color="yellow-7"
              >
                <q-icon name="fas fa-trophy" />
              </q-circular-progress>
              <q-item-section>
                #1 3500
              </q-item-section>
              </q-item>
          </q-list>
      </div>
      <div class="column , q-px-xl">
                       <q-chip size="20px">
                    <q-avatar size="100px">
                      <img src="../assets/agile.png">
                    </q-avatar>
                    Project
                    Management
                  </q-chip>
          
          <q-list padding class="q-pt-xl">
              <router-link 
              :to="{name: 'Categories'}">            
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-book" />
              </q-item-section>

              <q-item-section>
                Documentation
              </q-item-section>
            </q-item>
              </router-link>
                            <router-link 
              :to="{name: 'Categories'}">
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-graduation-cap" />
              </q-item-section>

              <q-item-section>
                Learning
              </q-item-section>
            </q-item>
                            </router-link>
            <q-item>
              <q-circular-progress
                show-value
                class="text-white q-ma-md"
                :value="100"
                size="90px"
                :thickness="0.2"
                color="brown-13"
                center-color="grey-6"
                track-color="brown-13"
              >
                <q-icon name="fas fa-trophy" />
              </q-circular-progress>
              <q-item-section>
                #3 2780
              </q-item-section>
              </q-item>
          </q-list>
      </div>
      <div class="column , q-px-xl">
                    <q-chip size="20px">
                    <q-avatar size="100px">
                      <img src="../assets/support.png">
                    </q-avatar>
                    Support
                  </q-chip>
          
          <q-list padding class="q-pt-xl">
              <router-link 
              :to="{name: 'Categories'}">
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-book" />
              </q-item-section>

              <q-item-section>
                Documentation
              </q-item-section>
            </q-item>
              </router-link>
              <router-link 
              :to="{name: 'Categories'}">
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-graduation-cap" />
              </q-item-section>

              <q-item-section>
                Learning
              </q-item-section>
            </q-item>
              </router-link>
                            <router-link 
              :to="{name: 'Categories'}">
            <q-item>
              <q-circular-progress
                show-value
                class="text-white q-ma-md"
                :value="100"
                size="90px"
                :thickness="0.2"
                color="grey-13"
                center-color="grey-6"
                track-color="grey-13"
              >
                <q-icon name="fas fa-trophy" />
              </q-circular-progress>
              <q-item-section>
                #2 3200
              </q-item-section>
              </q-item>
                          </router-link>
          </q-list>
      </div>
    </div>
  </div>
  </q-page>
</template>

<script>
export default {

}
</script>
