<template>
  <div class="col-full">
      <h1>Categories</h1>
      <CategoryList :categories="categories"/>
  </div>
</template>

<script>
  import CategoryList from 'src/components/CategoryList'

  export default {
    components: {
      CategoryList
    },
    props: {
      id: {
        required: true,
        type: String
      }
    },
  computed: {
      categories() {
        return Object.values(this.$store.state.categories)
      } 
  }
  }
</script>
