<template>
  <div class="col-large push-top">
    <h1>{{thread.title}}
      <router-link
        :to="{name: 'ThreadEdit', id: this.id}"
        class="btn-green btn-small"
        tag="button"
      >
        Edit Thread
      </router-link>
    </h1>
    <p>
      By <a href="#" class="link-unstyled">{{user.name}}</a>, <app-date :timestamp="thread.publishedAt"/>.
      <span style="float:right; margin-top: 2px;" class="hide-mobile text-faded text-small">{{repliesCount}} replies by {{contributorsCount}} contributors</span>
    </p>
    <PostList :posts="posts"/>
    <PostEditor
      :threadId="id"/>

  </div>
</template>

<script>
  import PostList from 'src/components/PostList'
  import PostEditor from 'src/components/PostEditor'
  export default {
    components: {
      PostList,
      PostEditor
    },
    props: {
      id: {
        required: true,
        type: String
      }
    },

    computed: {
      thread () {
        return this.$store.state.threads[this.id]
      },

      repliesCount () {
        return this.$store.getters.threadRepliesCount(this.thread['.key'])
      },

      user () {
        return this.$store.state.users[this.thread.userId]
      },

      contributorsCount () {
        // find the replies
        const replies = Object.keys(this.thread.posts)
          .filter(postId => postId !== this.thread.firstPostId)
          .map(postId => this.$store.state.posts[postId])
        // get the user ids
        const usersIds = replies.map(post => post.userId)
        // count the unique ids

        return usersIds.filter((item, index) => index === usersIds.indexOf(item)).length
      },

      posts () {
        const postsId = Object.values(this.thread.posts)
        return Object.values(this.$store.state.posts)
          .filter(post => postsId.includes(post['.key']))
      }
    }
  }
</script>
