<template>
  <div id="q-app">
    <KMSNavbar/>
    <router-view />
  </div>
</template>

<script>
import KMSNavbar from './components/KMSNavBar'
import AppDate from './components/AppDate'
import store from 'src/store'
import Vue from 'vue'
Vue.component('AppDate', AppDate)
export default {
  name: 'TalmarKMS',
  store,
  components: {
      KMSNavbar
    },
}
</script>
<style>
@import "./css/style.css";
</style>
