<template>
  <q-layout view="hHh lpr lfr">
    <!-- <q-header elevated class="bg-dark text-white">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="fas fa-user"
          aria-label="User"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          TalmarKMS
        </q-toolbar-title>


        <q-input standout="bg-primary text-white" v-model="text" label="Search...">
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
      </q-input>
        
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      elevated
      :width="200"
      :breakpoint="400"
    >
              <q-scroll-area style="height: calc(100% - 200px); margin-top: 200px; border-right: 1px solid #ddd">
          <q-list padding>
            <q-item clickable v-ripple>

              <q-item-section avatar>
                <q-icon name="home" />
              </q-item-section>

              <q-item-section>
                Home
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-trophy" />
              </q-item-section>

              <q-item-section>
                Achievements
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-medal" />
              </q-item-section>

              <q-item-section>
                Level
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-clipboard-list" />
              </q-item-section>

              <q-item-section>
                Leaderboard
              </q-item-section>
            </q-item>

            <q-item>
                <q-linear-progress size="30px" :value=".85" color="positive" class="q-mt-sm">
                <div class="absolute-full flex flex-center">
                  <q-badge color="white" text-color="positive" :label="85" />
                </div>
              </q-linear-progress>
              </q-item>

              <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-sign-out-alt" />
              </q-item-section>

              <q-item-section>
                Sign Out
              </q-item-section>
              </q-item>
          </q-list>
        </q-scroll-area>

        <q-img class="absolute-top" src="https://cdn.quasar.dev/img/material.png" style="height: 200px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="114px" class="q-ml-auto, q-mb-md">
              <img src="../assets/myAvatar.png">
            </q-avatar>
            <div class="text-weight-bold">Chris Pfaff</div>
            <div>@chrispfaff</div>
          </div>
        </q-img>
    </q-drawer> -->

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',

  data () {
    return {
      leftDrawerOpen: false,
      
    }
  }
}
</script>
